PROJECT_NAME=financial-data-engineering-ai-platform
ENVIRONMENT=local
DUCKDB_PATH=data/financial_platform.duckdb
RAW_DATA_PATH=data/raw
BRONZE_DATA_PATH=data/bronze
SILVER_DATA_PATH=data/silver
GOLD_DATA_PATH=data/gold
ML_FEATURES_PATH=data/ml_features
METADATA_PATH=data/metadata
